@import "fonts/Atkinson-Hyperlegible.css";

@import "elements/header-footer.css";
@import "elements/main.css";

@import "elements/about-contact.css";
@import "elements/project.css";

:root {
    font-size: 62.5%;
}

* {
    color: var(--main-text-color);
    font-family: Atkinson-Hyperlegible, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 1.6rem;
    background-color: var(--main-bg-color);
    transition: all 0.3s ease-in-out;
}

.dark-mode {
    --main-bg-color: black;
    --light-bg-color: #111;

    --dark-text-color: gray;
    --main-text-color: darkgray;
    --light-text-color: lightgray;
}

.light-mode {
    --main-bg-color: darkgray;
    --light-bg-color: lightgray;

    --dark-text-color: #000;
    --main-text-color: #222;
    --light-text-color: #444;
}