@import "fonts/Atkinson-Hyperlegible.css";

@import "elements/header-footer.css";
@import "elements/main.css";

@import "elements/about-contact.css";
@import "elements/project.css";

:root {
    font-size: 62.5%;
}

* {
    text-decoration: none;
    font-family: Atkinson-Hyperlegible, sans-serif;
    color: darkgray;
    list-style: none;
}

body {
    font-size: 1.6rem;
    background-color: black;

}