#about {
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    & type-chat {

        height: 18rem;
        width: 17rem;

        font-size: 1.4rem;
        text-align: right;

        & h2 {
            margin: 0;
            /* margin-left: 4rem; */
            user-select: none;
        }

        & p {
            margin-bottom: 0;
        }

    }


}

#contact {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2 {
        transform: translateX(-22px);
        user-select: none;
    }

    & ul {
        margin: 0;
        padding: 0;
    }

    & li:first-child {
        margin-bottom: 1rem;
    }

    & .fa-arrow-up-right-from-square {
        transform: scale(80%);
    }

    & a {
        font-size: 1.4rem;
        font-weight: bold;
        margin: .1rem 0;

        & span,
        & i {
            color: darkgray;

            transition: all 0.3s ease-out;
        }
    }

    /* & a:focus, */
    & a:hover {

        & span,
        & i {
            color: gray;
        }

    }
}